<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <header style="margin-bottom: 20px; border-bottom: 1px solid black; display: flex; justify-content: space-between;">
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'main_list' %}">Main List</a>
        
    </header>
    <H1 style="margin-top: 250px; text-align: center;">Main Page</H1>
</body>
</html>